<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <h1>Comments</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Comment</th>
      <th>Student</th>
      <th>Course</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr
      th:each = "comment: ${comment}">
      <td th:text="${comment.commentId}"></td>
      <td th:trxt = "${comment.comment}"> </td>
      <td th:text = "${student.firstName}"> </td>
      <td th:text = "${{student.lastName}}"></td>
      <td th:text = "${{course.name}}"></td>
      <td>
        <a href="/comment/edit/{{commentId}}" class="btn btn-primary btn-sm">Edit</a>
        <a href="/comment/{{commentId}}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>

    </tbody>
  </table>
  <a href="/comment/create_comment" class="btn btn-success">Add Comment</a>
</div>
</body>
</html>