<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

</head>
<body>
<div>
    <h2 >Course Creation</h2>
    <tr>
        <div align = "left" >
            <h3><a  th:href="@{'/course/addcourse'}">Add new</a></h3>
        </div>
    </tr>

    <div class="col-sm-8" align = "center">
        <div class="panel-body" align = "center" >


            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Course Major</th>
                    <th>Course Minor</th>
                    <th>Course Location</th>
                    <th>Course Schedule</th>
                    <th>Year</th>
                    <th>Semester</th>
                    <th>Duration</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="course : ${listcourse}">
                    <td th:text="${course.courseId}">Course ID</td>
                    <td th:text="${course.name}">Course Name</td>
                    <td th:text="${course.major}">Course Major</td>
                    <td th:text="${course.minor}">Course Minor</td>
                    <td th:text="${course.location}">Course Location</td>
                    <td th:text="${course.schedule}">Course Schedule</td>
                    <td th:text="${course.year}">Year</td>
                    <td th:text="${course.semester}">Semester</td>
                    <td th:text="${course.duration}">Duration</td>

                    <td>
                        <a th:href="@{'/course/edit/' + ${course.courseId}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/course/delete/' + ${course.courseId}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>

    </tbody>
    </table>
    <div>
</div>
</body>
</html>