<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add Comment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <h1>Add Comment</h1>
  <form th:action="@{/comment/add}" method="POST">
    <div class="form-group">
      <label for="comment_text">Comment</label>
      <textarea id="comment_text" name="comment_text" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="student">Student</label>
      <select id="student" name="studentId" class="form-control" required>
        <option th:each="student : ${students}" th:value="${student.studentId}" th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
      </select>

    </div>
    <div class="form-group">
      <label for="course">Course</label>
      <select id="course" name="courseId" class="form-control" required>
        <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.name}"></option>
      </select>



    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/comment" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>