<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Comment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <h1>Add Comment</h1>
  <form action="/comments" method="POST">
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea id="comment" name="comment" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="student">Student</label>
      <select id="student" name="student.id" class="form-control" required>
        {{#students}}
        <option value="{{id}}">{{firstName}} {{lastName}}</option>
        {{/students}}
      </select>
    </div>
    <div class="form-group">
      <label for="course">Course</label>
      <select id="course" name="course.id" class="form-control" required>
        {{#courses}}
        <option value="{{id}}">{{name}}</option>
        {{/courses}}
      </select>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/comment" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>